@page "/counter"
@using Microsoft.AspNetCore.SignalR.Client
@implements IAsyncDisposable
@inject NavigationManager NavigationManager

<PageTitle>Notification</PageTitle>

<h1>Here are the messages from the server</h1>

<ul>
    @foreach(var message in messages)
    {
        <li>@message</li>
    }
</ul>


@code {
    private HubConnection _hubConnection;
    private List<string> messages = new();

    protected override async Task OnInitializedAsync()
    {
        // Use the injected NavigationManager instance to get the absolute URL
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri(" http://localhost:5221/notifications")) // Use the instance method
            .Build();

        _hubConnection.On<string>("ReceiveNotification", (message) =>
        {
            messages.Add(message);
            InvokeAsync(StateHasChanged); // Trigger a re-render
        });

        await _hubConnection.StartAsync();
        await _hubConnection.InvokeAsync("RegisterClient", "web");
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection != null)
        {
            await _hubConnection.DisposeAsync();
        }
    }
}